* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text: #E6E8E6;
    --line: #ccc;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');
h1, h2, h3, h4, p, span {
    font-family: 'Raleway', sans-serif;
    line-height: 1.3em;
}

h1 {
    font-size: calc(22px + .5em);
    margin-bottom: 12px;
}


p {
    font-size: calc(14px + 0.5em);
    font-weight: normal;
    margin-bottom: 7px;
}

h2 {
    font-size: calc(20px + .5em);
}

h3 {
    font-size: calc(18px + .5em);
    margin: 5px 0 5px 0;
}

h4 {
    font-size: calc(16px + .5em);
}

body {
    background: #000000;
    color: var(--text);
}
a {
    color: #710E0E;
    text-decoration: none;
    font-size: 20px;
}

header {
    display: flex;
}

nav {
    flex: 1;
    text-align: right;
}
nav ul {
    display: inline-block;
    list-style-type: none;
}
nav ul.items li {
    display: inline-block;
    margin: 20px 40px 0 0;
    font-weight: bold;
}
ul a {
    font-size: 28px;
}


/***** Logo Section ****/
#hopass {
    animation: swing 2s infinite ease-in-out;
    transform-origin: top;
    transform-box: fill-box;
}

@keyframes swing{
    0%{transform:rotate(-30deg)}
    50%{transform:rotate(30deg)}
    100%{transform:rotate(-30deg)}
}

#turny {
    animation: turn 3s infinite alternate;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes turn {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

main {
    max-width: 1800px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
    
}
.intro {
    text-align: center;
    margin:10% 0 15% 0;
}
.intro img {
    border-radius: 50%;
    width: 400px;
}

.mainheading {
    font-size: 34pt;
    line-height: 42pt;
    font-family: 'Raleway', sans-serif;
}
.text {
    padding: 0 400px;
}
.highlight {
    color: #710E0E;
}

button {
    border: none;
    border-radius: 10px;
    box-sizing: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: 18pt;
    padding: 10px 20px;
    transition: all 0.5s;
    background-color: Transparent;
    background-repeat:no-repeat;
    overflow: hidden;
    outline:none;
    color: #710E0E;
    margin-top: 25px;
  }
  button:hover {
    background-color: white;
    border-color: red;
  }
  button .mdi {
    vertical-align: middle;
    color: #710E0E;
  }

.col-2 {
    flex-basis: 49%;
    min-width: 300px;
    padding: 10px;
}

.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-between;
}

.link {
    text-align: right;
}

.line {
    border-bottom: 3px solid var(--line);
    display: block;
    margin-bottom: 20px;
}

.app, .guide {
    display: flex;
    border: 2px solid var(--line);
    border-radius: 10px;
    padding: 5px;
    margin: 40px 0;
}

img.game {
    width: 200px;
}
.img {
    text-align: center;
}
img.site {
    width: 416px;
    border-radius: 5px;
}
img.tech {
    width: 300px;
    border-radius: 5px;
}
.example {
    text-align: center;
}

.me {
    margin-bottom: 70px;
}

.border {
    border: 2px solid var(--line);
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
}
.border img {
    margin-top: 10px;
}

.news {
    align-items: initial;
}

.about {
    align-items: initial;
}
.work {
    padding-left: 0;
}
/*  Work Page */
section img {
    width: 90%;
}


footer {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.socials {
    justify-content: center;
    margin-bottom: 20px;
}
.socials a {
    margin-left: 15px;
    margin-right: 15px;
}
.socials svg {
    width: 50px;
    height: 50px;
}


@media only screen and (max-width: 800px) {
    .col-2, .flex {
        flex-basis: 100%;
        min-width: auto;
    }
    .work {
        flex-basis: 50%;
    }
    .pic {
        text-align: center;
    }
    .pic img {
        width: 60%;
    }
    p.text {
        padding: 0;
    }
    img.site, img.tech {
        width: 90%;
    }
}

@media only screen and (max-width: 480px) {
    header {
        display: block;
    }
    svg {
        width: auto;
        height: auto;
    }
}
