* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /*background: linear-gradient(to bottom, #2233f6 0%, #422040 100%) no-repeat;*/
    background: black;
    color: white;
}
/* LOGO SECTION */

#hopass {
    animation: swing 2s infinite ease-in-out;
    transform-origin: top;
    transform-box: fill-box;
}

@keyframes swing{
    0%{transform:rotate(-30deg)}
    50%{transform:rotate(30deg)}
    100%{transform:rotate(-30deg)}
}

#turny {
    animation: turn 3s infinite alternate;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes turn {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}
    

div.container {
    max-width: 1400px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}
div.navbar {
    display: flex;
    padding: 20px;
}
nav {
    flex: 1;
    text-align: right;
}
nav ul {
    display: inline-block;
    list-style-type: none;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #E6E8E6;
    font-size: 22px;
}
ul.items {
    padding-top: 22px;
}

/* CONTENT SECTION */
img.prof {
    border-radius: 50%;
}

div.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
div.col-2 {
    flex-basis: 50%;
    min-width: 300px;
    color: white;
}
div.col-2 img {
    max-width: 100%;
    padding: 40px 0;
}
div.prof {
    text-align: center;
}
div.col-2 h1 {
    font-size: 54px;
    font-weight: 400;
}
div.intro p {
    font-size: 25px;
    line-height: 145%;
}

div.content img {
    padding-top: 0;
    padding-bottom: 0;
}

/* MAINCONTENT SECTION*/
div.maincontent {
    margin-top: 100px;
}
div.link {
    text-align: right;
}

div.rocont p {
    width: 60%;
}
div.rocont img {
    width: 40%;
}


@media only screen and (max-width: 800px) {
    div.col-2 {
        flex-basis: 100%;
    }
    div.col-2 {
        text-align: center;
    }
}